/* ==============================
        Base Styles
=================================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
}


h3 {
    font-weight: 400;
}

p {
    font-weight: 300;
    color: rgb(187, 176, 176);
    font-family: Jomolhari, sans-serif;
}

.portfolio-img {
    width: 100%;
    margin-bottom: 20px;
}

.profile-img {
    width: 70%;
    margin-bottom: 25px;
}

.titles {
    margin-bottom: 15px;
}

.skills-para {
    margin-bottom: 15px;
}

.skills li {
    list-style: circle;
    color: rgb(177, 167, 167);
}

.contact a {
    text-decoration: none;
    color: rgb(177, 167, 167);
}

.footer-top a {
    text-decoration: none;
    color: black;
}


.contact-title {
    padding: 15px;
    margin-bottom: 10px;
}

.footer-name,
.footer-top {
    color: black;
}

/* ==============================
        layout
=================================*/

.col {
   width: 100%;
   padding: 10px 10px;
   margin: 10px;
}

.contact {
    margin-bottom: 15px;
}

.footer-name {
    float: left;
}

.footer-top {
    float: right;
}


/* ==============================
       Nav
=================================*/
.nav a {
    text-decoration: none;
    color: black;
}

.nav a:hover {
    color: white;
}

.nav li {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    background: white;
    text-transform: uppercase;
}

.nav li:hover {
    border: .3px solid white;
    background: black;
    color: white;
}

li:hover a {
    color: inherit;
}

nav .container {
    padding-bottom: 20px;
    margin-bottom: 15px;
}


/* ==============================
        Containers
=================================*/

.header-wrap {
    background: #f8fbfc;
    padding-bottom: 30px;
}



.container {
    width: 90%;
    margin: 0 auto;
}

.footer {
    border-top: .3px solid #dee7eb;
    padding: 25px;
}

.contact .container {
    margin-top: 25px;
    padding: 15px;   
}

.wrap {
    background: #f8fbfc;
}

/* ==============================
        ClearFix
=================================*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* ==============================
        Media Queries
=================================*/

@media (min-width: 768px) {

    
}






