/* Base Styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    background: #f8fbfc;
}

h3 {
    font-weight: 400;
}

p {
    font-weight: 300;
}

.portfolio-img {
    width: 100%;
    margin-bottom: 20px;
}

.profile-img {
    width: 70%;
    margin-bottom: 25px;
}

.titles {
    margin-bottom: 15px;
}

.contact a {
    text-decoration: none;
    color: black;
}

.footer-top a {
    text-decoration: none;
    color: black;
}

/*  Base layout */

.col {
   width: 100%;
   padding: 10px 10px;
   margin: 10px;
}

.contact {
    margin-bottom: 15px;
}

.footer-name {
    float: left;
}

.footer-top {
    float: right;
}


/* Nav */
.nav a {
    text-decoration: none;
    color: black;
    
}

.nav li {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    background: white;
    text-transform: uppercase;
}




/* Containers */


.container {
    width: 90%;
    margin: 0 auto;
}

.footer {
    border-top: .3px solid #dee7eb;
    padding: 25px;
}


/* ==============================
        ClearFix
=================================*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Media Queries */

@media (min-width: 768px) {

    
}






